apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: redis-metrics
  namespace: default
  labels:
    app: redis
    release: prometheus-stack
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: redis
      app.kubernetes.io/component: metrics
  endpoints:
    - port: http-metrics
      interval: 30s
      path: /metrics